DATABASE_URL=
JWT_SECRET=
JWT_REFRESH_SECRET=
FLAG_SECRET=
MANAGER_SECRET=
CONTAINER_MANAGER_URL=http://localhost:3001
HOST_ADDRESS=localhost
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000